@import url("https://fonts.googleapis.com/css?family=Nobile:400,700&display=swap");
body {
  background: #36393e;
  font-family: "Nobile";
  overflow-x: hidden;
}
section.top-section {
  height: 100vh;
}